    @font-face {
      font-family: 'wiiu';
      src: url('https://helloiti.github.io/assets/nintendo_NTLG-DB_002.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    body {
      font-family: 'wiiu', sans-serif;
      margin: 0;
      padding: 20px;
      background: url('https://helloiti.github.io/assets/background.png') center/cover no-repeat fixed;
      color: white;
      cursor: url('https://helloiti.github.io/assets/Wii.png') 0 0, auto;
    }

    * {
      cursor: url('https://helloiti.github.io/assets/Wii.png') 0 0, auto;
    }

    .mn {
      background: rgba(0, 0, 0, 0.67);
      padding: 20px;
      border-radius: 12px;
      max-width: 600px;
      margin: auto;
      text-align: center;
    }

    .mn ul {
      list-style: none;
      padding: 0;
      margin: 10px 0 0 0;
    }

    .mn li::before {
      content: "• ";
      color: #d3e7e8;
    }
    
.ok {
  font-size: 13px;
  opacity: 0.67;
  display: block;
  margin-bottom: 8px;
}

    p {
      margin: 12px 0;
      line-height: 1.5;
    }
    
    ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.html {
  opacity: 0.85;
  display: block;
  margin-bottom: 8px;
}

hr {
  border: none;
  border-top: 1px solid white;
  width: 40%;
}
